<h1>Welcome to media thinger</h1>
<p>This page is a tableless layout which uses valid XHTML transitional and valid CSS 2.</p>
<p>This design has been provided by Giant Systems Ltd.  Giant Systems also provide a free content management system which allows you to edit templates such as this in a using a WYSIWYG editor</p>
<p>This system can be viewed downloaded and tested at <a href="http://www.flexcms.co.uk">http://www.flexcms.co.uk</a></p>
<p>As it would be a helpful way of supporting my work on open source templates I would be grateful if you could leave the lint at the bottom of the page (the one that says &quot;Design by Giant Systems Ltd&quot; in the footer). However the decision is yours, you may remove this if you wish.</p>
<h2>Some place holder text</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat cupidatat non proident, sunt in culpa qui officia  deserunt mollit anim id est laborum.</p>
<p> Duis aute irure dolor in reprehenderit in  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat cupidatat non proident, sunt in culpa qui officia  deserunt mollit anim id est laborum.</p>
<p>&nbsp;</p>
<p></p>
<p>&nbsp;</p>
